*.env
*.pyc
*.DS_Store
*.out
*.log
**/log/*
*.pkl
/docs/build/*
/build/*
examples/**/*.png
/dist/*
**/*.egg-info/*
htmlcov/
.coverage
.idea/*
.python-version
.vscode/*
.venv
venv
examples/applications/chsh_game/risultati.csv
examples/applications/chsh_game/chsh_noise_togheter_plot.py
examples/applications/chsh_game/risultati_intervallo.csv
examples/applications/chsh_game/risultati_togheter.csv
examples/applications/chsh_game/chsh_noise_togheter_plot.py
examples/applications/chsh_game/risultati_fidelity.csv
squidasm/util/.sim.py.swp
examples/applications/chsh_game/risultati_nv_heralded.csv
examples/applications/chsh_game/chsh_noise.py
examples/applications/e91/risultati_e91_heralded.csv
examples/applications/chsh_game/chsh_noise.py
